body, html {
  margin: 3%;
  display: flex;
  place-items: center;
  justify-content: center;
  background-color: #242424;
  z-index: -1;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

/* button */
button {
  border-radius: 8px;
  border: 0.01vh solid transparent;
  padding: 1vh;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  justify-content: center;
  margin: 0.07vh;
}
.allbtn:hover {
  border-color: red;
  border-width: 0.2vh;
}
.allbtn {
  position: fixed;
  top:2vh;
  background-color:#0f0f0f;
  z-index: 1;
  border-radius: 1.2vh;
}
.rarityButtons, .targetTypes {
  margin: 1vh;
}

.label {
  text-align: left;
}

/*catCard css*/
.container {
  top: 10vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  place-items: center;
}

.newcard {
  width: 20vh;
  height: 35vh;
  border-radius: 10px;
  border: 2px solid #eee;
  background-color: #EEA;
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 0.3vh;
  margin: 1vh;
  object-fit: cover;
}
.baseImg,
.evolvedImg,
.trueImg {
  object-fit: cover;
  max-width: 96%;
  margin: 0.4vh;
}
.imgbtn{
  place-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.basebutton,
.evolvedbutton,
.truebutton{
  width: 100%;
  bottom: 0;;
}
.theme{
  position: fixed;
  left: 1vh;
  top: 1vh;
  z-index: 1;
}