body, html {
  max-width:100%;
  margin: 3%;
  display: flex;
  place-items: center;
  justify-content: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

button {
  border-radius: 0.8vh;
  border: 0.01vh solid transparent;
  padding: 1vh;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  justify-content: center;
  margin: 0.07vh;
}
.allbtn {
  position: fixed;
  top:2vh;
  background-color:#0f0f0f;
  z-index: 1;
  border-radius: 1.2vh;
  border: 0.01vh solid transparent;
  border-color: azure;
}
.rarityButtons, .targetTypes {
  margin: 1vh;
}
.type, .rarity{
  margin: -0.27vh;
  border-color: red;
}
.container {
  top: 10vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
}

.newcard {
  width: 21vh;
  border-radius: 0.8vh;
  background-color: #EEA;
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 0.3vh;
  margin: 1vh;  
  object-fit: cover;
  border: 2px solid black;
}
p {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  margin: -0.5vh;
  margin-top: 0 auto;
  color: #0f0f0f;
}

.baseImg,
.evolvedImg,
.trueImg {
  object-fit: cover;
  max-height: 96%;
  width: 20vh;
  height: 20vh;
  border-radius: 0.5vh;
  justify-content: center;
  margin-top: 0.6vh;
}
.imgbtn{
  place-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.6vh;
  margin: auto;
}
.basebutton,
.evolvedbutton,
.truebutton{
  width: 100%;
  max-width:100%;
}
#theme{
  position: fixed;
  left: 1vh;
  top: 1vh;
  z-index: 1;
}
.theme-color {
  background-color: azure;
}
.card-border {
  border-color: #0f0f0f;
}